@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0;400;0,600;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  
   
}
html{
    font-size: 62.5%;
}

.btn{
    padding: 1rem 3.5rem;
    background: var;
    border-radius: 3.5rem;
    color: var(--green-dark);
    font-size: 1.3rem;
    border: none;
    outline: none;
    transition: all .3sec;
    text-transform: uppercase;
 }
/* ======================================================================================================================== Common Class======================== */
:root{
    --green-light: #8bc34a;
    --green-dark:#4caf50;
    --footer-light:#303030;
    --footer-dark:#262626;
    --footer-text:#5d5d5d;
    --para-color:#808080;
    --h2-color: #444444;
}
h1{
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    margin-top: -15px;
    text-transform: uppercase;
}
h2{
    font-size: 3rem;
    font-weight: 600;
}
p{
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--para-color);

}
.sec-title{
font-size: 1rem;
font-weight: light;
text-align: center;

}
h2 span{
    color: var(--green-light);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.bottom-style{
    width: 40px;
    height: 3px;
    background: var(--green-light);
    position: relative;
    margin: auto;
    margin-top: 10px;
}
.bottom-style::after{
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    top: 1px;
    left: 40px;
    background-color: #e8e8e8;
}
.bottom-style::before{
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    top: 1px;
    right: 40px;
    background-color: #e8e8e8;
    text-transform: uppercase;
}

/* ================================================================================================================================================================ Header */
.top-bar{
    background-color: #343434;
   
}
.top-content{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 1.5rem 0rem .9rem 0rem;
    
}

.top-left ul{
    display:flex;
    align-items:center;
}
.top-left ul li,i{
    font-size: 1.3rem;
    color: var(--para-color);
    margin-right: 1.5rem;
    
    

}
.top-left ul li i{
    margin-right: .3rem;
}
.top-left ul li i{
    font-size: 1.3rem;
}
.menu-area{
    height: 9rem;
    
    display:flex;
    justify-content:center;
    align-items:center;
}
ul.navbar-nav li a{
    font-size: 1.3rem;
    color: #444;
    transition: .3sec;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.menu-area li.nav-item a.active{
    color: var(--green-dark);
}
.menu-area li.nav-item a:hover{
    color: var(--green-dark);
}
 /* ================================================================================================================================================================ Slider */
 

 .carousel-control-prev-icon{
    position: relative;
    left: -6.6rem;
 }
 .carousel-control-next-icon {
    position: relative;
    right: -6.6rem;
}
 .carousel-indicators li{
    width: 8px;
    height: 8px;
    color: var(--footer-text);
 }
 .carousel-indicators .active{
    border: 2px solid var(--para-color);

 }
 .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
 .slider-content p{
    color: #fff;

 }
 .slider-p-top{
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 300;
 }
 .slider-p-bottom{
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 400;
 }
 .slider{
    position: relative;
   
 }
 .slider-buttons {
    margin: 0 0 11rem 0;
}
 .our-btn-1{
    background: var(--green-dark);
    color: #fff;
 }
 .our-btn-1,
 .our-btn-2{
    margin: 0 1.7rem 0 1.7rem;
 }
 .our-btn-1:hover{
    background: #fff;
    color: var(--green-dark);
   
 }
 .our-btn-2:hover{
    background: var(--green-dark);
    color: #fff;
   
 }
 .carousel-item img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    width: 100%;
    
 }

  /* ================================================================================================================================================================ About Us section */
  section.about-section {
    padding-left: 6rem;
    margin: -10rem 0 0rem 0;
}
  .abt-btn{
    color: var(--green-light);
    border: 1px solid var(--green-light);
    background: #fff;
  }
  .abt-para{
    margin: 2rem 0 3rem 0;
    line-height: 2.7rem;
  }
  .about-section img{
    max-width: 100%;
    box-shadow: -43px -39px 0px 0px rgba(76,175,80,1);
   
   

  }
  .abt-text{
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
 
  .our-work{
    background-color: #fafafa;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
   
  }
  .do-content{
    padding: 4.5rem 0 0 0;
  }
  
  
  .do-icon{
    font-size: 4rem;
    color: var(--h2-color);
  }
  .do-content p{
    font-size: 1.8rem;
    margin-top: .7rem;
  }
  .do-content h3{
    font-size: 1.8rem;
    font-weight: medium;
    margin: 1.5rem 0 1.5rem 0;
    color: var(--h2-color);

}
.do-style{
    height: 1px;
    width: 2.5rem;
    background: #000000cd;
}
.do-image img{
    max-width: 118%;
    padding-left: 4rem;
    padding-top: 5rem;
    
  
}

/* ===================================================================================================================== Recent Work================================ */
.recent-work{
    padding: 8rem 10rem;
}

